.container{
    display: grid;
    grid-template-columns: 20% 60% 20%;
}

ul{
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
}

.cartWidget, h1{
    display: flex;
    justify-content: center;
    align-items: center;
}

a{
    text-decoration: none;
    color: black;
}

li{
    color: black;
}

.active{
    color: blue;
}

.ulColumn{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    list-style: none;
}

