.itemCount{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 15px;
}

.boton{
    display: block;
    display: flex;
    justify-content: center;
    align-items: center;
}

